// HTML CSS RESET FİLE

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; outline: 0; }
 
html, body { overflow-x: hidden !important; }

body {line-height: 1;  }

ol, ul {list-style: none; }

blockquote, q {quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }

table {border-collapse: collapse; border-spacing: 0; } 

body{font-size: 16px ; font-family: 'Plus-Jakarta-Sans-medium', sans-serif; box-sizing: border-box; color: #000; overflow-x: hidden !important; position: relative; }

.overflow{
  height: 100%;
}

div , span ,  body p{ margin: 0px; padding: 0px; }

a
{
  text-decoration: none;
  &:hover
  { text-decoration: none; }
}

.btn{
  &:focus
  { box-shadow: none !important; }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }