// Variables are global names that we can use everywhere.
// 1 - If you want, you can place your fonts globally in the body tag in the reset section.
// 2 - If you want to use different fonts in your different texts, you must provide them individually.
// 3 - You can check the contents of the pages on the home page

$bold:'Plus-Jakarta-Sans-bold';
$extrabold:'Plus-Jakarta-Sans-extra-bold';
$semibold:'Plus-Jakarta-Sans-semibold';
$medium:'Plus-Jakarta-Sans-medium';  